.soba_modal .plotarea {
	background-color: white;
}

.soba_modal {
	border : 1px solid #aaa;
	position : absolute;
	z-index : 9999;
}

.soba_modal .title {
	background-color : #fdc;
	position : relative;
	cursor : move;
}

.soba_modal .close {
	cursor : pointer;
	right : 0;
	margin : 0;
	position : absolute;
}
